@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General Rules*/
.gold-font {
    color: #f9c700;
}

.icon {
    margin-left: 5px;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #08352e;
}

.navbar {
    background-color: rgba(248, 248, 248, 0.4) !important;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo a {
    color: #f9c700;
    font-size: 1.6rem;
    text-decoration: none;
}

.logo-img {
    width: 55px;
    height: 65px;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.list-item a {
    padding: 0 10px;
    text-decoration: none;
    color: #08352e;
    font-size: 0.9rem;
    transition: color .5s ease-in-out, box-shadow .4s ease-in-out;
}

.list-item a:hover {
    color: #f9c700;
    box-shadow: inset 120px 0 0 0 #08352e;
}

img {
    width: 100%;
    height: auto;
    max-height: 90vh;
}

.img-container {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('images/cafe.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 80vh;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto {
    font-size: 2.4rem;
}

.menu-btn {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
    background-color: #08352e;
    color: #f9c700;
    float: right;
}

.menu-btn:hover {
    background-color: #062924;
}

.menu-btn a {
    text-decoration: none;
    color: #f9c700;
}

.motto-para, .menu-btn {
    display: inline-block;
}

#menu {
    margin: 60px 0;
}

.menu-container{
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/cafe-layout-bg.jpg')  center center;
}

.price {
    float: right;
}

.smoothie-desc {
    color: #a5a5a5;
}

.info-container {
    margin-top: 60px;
}

.info-table {
    border: 2px solid #fff;
    color: #fff;
}

.drinks{
    display: grid;
}

.times-list-item {
    list-style: none;
}

/*=======================================Info Tables===========================*/
.menu-sub-heading {
    text-decoration: underline;
}
.contact-table {
    min-height: 300px;
    background: linear-gradient(rgba(8, 53, 46), rgba(238, 255, 0, 0.479), rgba(8, 53, 46));
    color: #fff;
}

.contact-list-group{
    text-align: left;
}

.contact-list-item {
    list-style: none;
}

.media-icon {
    font-size: 1.6rem;
    padding: 0px 10px;
}

.icon-fb {
    color: #0066ff;
}
.icon-insta {
    color: #aa00f9;
}

.about-table {
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('images/iguana-cafe-img.JPG') center center;
    color: #fff;
}

.hours-table {
    min-height: 300px;
    background: linear-gradient(rgba(8, 53, 46), rgba(238, 255, 0, 0.479), rgba(8, 53, 46));
    color: #fff;
}

.location-header {
    color: #f9c700;
    font-size: 30px;
}

#location {
    margin-top: 60px;
}

#location iframe {
    border: 5px solid #f9c700;
}

#contact h4 {
    font-size: 50px;
}

.footer {
    margin: 20px 0px;
    text-align: center;
    color: #f9c700;
}

@media screen and (max-width:448px) {
    .logo-img {
        display: none;
    }

    .logo{
        padding: 5px;
    }
}

@media screen and (max-width:991px) {
    .menu-btn{
        float: none;
        margin-left: 10px;
    }
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}
