@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white: #fff;
    --gold: #f9c700;
}

/*General Rules*/
.gold-font {
    color: #f9c700;
}

.icon {
    margin-left: 5px;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: var(--white);
}

.inline-container {
    padding-inline: 10%;
}

header {
    height: 90px;
}

.navbar {
    background-color: var(--white) !important;
    border-bottom: 1px solid var(--gold);
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo a {
    color: #f9c700;
    font-size: 1.7rem;
    text-decoration: none;
}

.list-item a {
    padding: 5px 10px;
    text-decoration: none;
    color: #08352e;
    font-size: 0.9rem;
    border-radius: 1em;
    transition: color .5s ease, box-shadow .4s ease;
}

.list-item a:hover {
    color: #f9c700;
    box-shadow: inset 120px 0 0 0 #08352e;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img-container {
    width: 50%;
    height: 50%;
    clip-path: ellipse(50% 46% at 50% 49%);
}

.hero-img-container img {
    width: 100%;
    height: 100%;
}

.motto-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 60px;
}

.motto {
    font-size: 2rem;
    color: var(--gold);
}

.menu-btn {
    font-size: 1.2rem;
    border-radius: 3rem;
    padding: .5rem 1rem;
    background-color: #08352e;
    color: #f9c700;
    transition: .5s ease;
    text-decoration: none;
    width: 30%;
    text-align: center;
    margin-left: auto;
}

.menu-btn:hover {
    box-shadow: 0 0 .5rem #f9c700;
    scale: 1.05;
}

#menu {
    padding: 7rem 0;
}

.menu-container {
    border-radius: 2rem;
    padding: 2rem 1rem;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/cafe-layout-bg.jpg') center center;
}

.menu-sub-heading {
    text-decoration: underline;
}

.price {
    float: right;
}

.smoothie-desc {
    color: #a5a5a5;
}

.drinks {
    display: grid;
}

/*=========== Info section============= */

.info-table {
    border: 2px solid #fff;
    color: #fff;
}

.times-list-item {
    list-style: none;
}

/*=======================================Info Tables===========================*/

.contact {
    background: #062924;
}

.contact-table {
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url('images/coffee-beans.jpg') center center;
    color: #fff;
}

.contact-list-group {
    text-align: left;
}

.contact-list-item {
    list-style: none;
}

.media-icon {
    font-size: 1.6rem;
    padding: 0px 10px;
}

.icon-fb {
    color: #0066ff;
}

.icon-insta {
    color: #aa00f9;
}

.about-table {
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url('images/iguana-cafe-img.JPG') center center;
    color: #fff;
}

.hours-table {
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url('images/dark-coffee-cup.jpg') center center;
    color: #fff;
}

#location {
    margin-top: 60px;
}

#contact h4 {
    font-size: 50px;
}

.to-top-btn {
    border: 1px solid #000;
    border-radius: 3rem;
    width: fit-content;
    color: #f9c700;
    transition: .5s ease;
}

.to-top-btn:hover {
    border: 1px solid #f9c700;
    box-shadow: 0 0 .5rem #f9c700;
}

@media screen and (max-width:448px) {
    .logo-img {
        display: none;
    }

    .logo {
        padding: 5px;
    }

    footer span,
    footer a {
        display: block;
        float: none;
        margin: 10px 0;
    }
}

@media screen and (max-width:991px) {
    .menu-btn {
        float: none;
        margin-left: 10px;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .location-header {
        font-size: 1.4rem !important;
    }
}