@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General Rules*/
.gold-font {
    color: #f9c700;
}

.icon {
    margin-left: 5px;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #08352e;
}

nav {
    background: rgba(255, 255, 255, 0.9);
}

.logo-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.logo {
    color: #f9c700;
}

.logo-img {
    width: 60px;
    height: 70px;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.list-item a {
    padding: 0 10px;
    text-decoration: none;
    color: #08352e;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

a:hover {
    color: white;
    box-shadow: inset 120px 0 0 0 #08352e;
}

img {
    width: 100%;
    height: auto;
    max-height: 90vh;
}

.img-container {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('images/cafe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    text-align: center;
    color: white;
}

.motto {
    position: absolute;
    font-size: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-row {
    min-height: 80vh;
}

#menu-container {
    border: 2px silver solid;
    color: #fff;
}

.location-header {
    color: #f9c700;
    font-size: 30px;
}

#location iframe {
    border: 5px solid #f9c700;
}

#contact {
    min-height: 500px;
    background-color: #fff;
}

#contact h4 {
    font-size: 50px;
}